/* App.css */

.Home {
  text-align: center;
  background-image: url("/src/assets/background.png");
  background-size: auto;
  background-position: center; 
  height: 900px;
}

.App {
  text-align: center;
}

.Footer{
  color: white
}

.App-header {
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.5rem;
  color: white;
  position: relative; /* Added */
}

.menu-button:hover .menu-dropdown {
  display: block;
}

.menu-dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 10px); /* Adjusted */
  color: black; /* Changed */
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  transition: all 0.3s ease; /* Added smooth animation */
}

.menu-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-dropdown li {
  margin: 20px 0;
  color:white
}

.login-button {
  order: 2; /* To move the login button to the right */
}

.login-button button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.App-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* Changed to row */
  margin-top: 100px;
  font-family: monospace;
  color: white;
}
.App-title1 {
  font-size: 6rem;
}

.App-title2 {
  margin-top: 180px;
  font-size: 6rem;
}

.App-title3 {
  font-size: 2rem;
  font-family: monospace;
  margin-top: 100px;
}

.App-title4 {
  font-size: 2rem;
  font-family: monospace;
  margin-top: 200px;

}

.App-title5 {
  font-size: 2rem;
  font-family: monospace;
  margin-top: 100px;
}

.App-subtitle1 {
  font-size: 1.2rem;
  margin-top: -50px;
  margin-left: 300px;
  color: white;
}

.App-subtitle2 {
  font-size: 1.8rem;
  font-family: monospace;
}

.continue-btn {
  margin-top: 40px;
  background-color: black;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  width: 230px;
  cursor: pointer;
}

.continue-btn:hover {
  background-color: #333; /* Darken the button on hover */
}

.email-input {
  background-color: rgb(235, 235, 235);
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  width: 190px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  border: none;
  border-top: 1px solid black; /* You can adjust the color */
  margin: 20px 0; /* Adjust the margin as needed */
  width: 15%;
}

.continue-email-btn {
  color: black;
  font-size: small;
}

.continue-email-click{
  color: black;
  font-size: small;
  margin-top: 20px;
}

footer {
  padding: 20px;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}
